
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: var(--bg-color) #101113;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}

body{
    background-color: var(--bg-color);
    color: var(--tex-color)
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}

.logo img {
    display: flex;
    align-items: center;
    height: 40px;
}

.menu-button, .search-bar, .user-button {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-bar button, .user-button button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

nav#side-menu {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
}

.hidden {
    display: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para o menu quando aberto */

.opened {
    left: 0;
}
